.color-navbar {
  background-color: #368fa3 !important;
  background-image: linear-gradient(19deg, #746aff 0%, #ccd8ff 100%,  #746aff 60%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 100px;
}